.container {
  display: flex;
  padding-top: 15px;
}

.link {
  margin: 10px 20px;
}

.link a {
  color: #9c0000;
  font-size: 36px;
}

.house-header {
  font-size: 20px;
  margin: 5px 10px;
}

.house-detail {
  display: flex;
  flex-direction: column;
  margin: 7px auto;
  width: 90%;
}

.img {
  width: 324px;
}

.detail-header {
  display: flex;
  margin-top: 10px;
}

.price {
  margin-left: 90px;
}

.house-desc,
.desc {
  margin-top: 20px;
}

@media screen only(min-width: 768px) {
  .detail-header {
    flex-direction: column;
  }
}
