.house-container {
  display: flex;
  justify-content: space-around;
}

.list button {
  margin-top: 10px;
}

.btn {
  padding: 4px 8px;
  background-color: #d50000;
  border: 2px solid #d50000;
  border-radius: 5px;
  color: white;
  font-size: 14px;
}

.btn:hover {
  color: #d50000;
  background-color: white;
}

.last {
  margin-top: 20px;
}

.house {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 15px;
  border: 2px solid #cfd8dc;
  padding: 5px;
}

.house-img {
  width: 330px;
  height: 250px;
}

.house-price {
  margin-left: 90px;
}

.linker {
  margin: 7px auto;
}