.nav {
  background-color: white;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.hamburger {
  height: 50px;
  width: 50px;
  margin-left: 10px;
  padding-top: 13px;
  cursor: pointer;
}

.hamburger span {
  background-color: #ff3d00;
  height: 4px;
  margin-bottom: 5px;
  width: 35px;
  display: block;
}

.last-bar {
  margin-bottom: 0;
}

.left {
  left: 0;
  animation-name: MoveToRight;
  animation-duration: 1s;
}

.hide {
  left: -100vw;
}

.navbar {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #f7f5fa;
  z-index: 2;
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  margin-bottom: 40px;
}

.navbar ul li:hover,
a:hover {
  color: black;
}

.close {
  color: white;
  background-color: #ff3d00;
  display: inline-block;
  padding: 10px 13px;
  font-size: 20px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}

.close:hover {
  color: white;
  background-color: rgb(177, 36, 36);
}

.logout {
  cursor: pointer;
  color: #585758;
}

@keyframes MoveToRight {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }

  80% {
    transform: translate(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
